.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  background-color: #6E5C62;
  min-height: 100vh;
  padding-top: 5em;
}

.sugestionWords {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(80px, 1fr));
  text-align: center;
  margin: 0 10em 0 10em;
  gap: .5em;
  color: wheat;
}

.wordsTry{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}